<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hms.manage.infrastructure.dao.CategoryMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hms.manage.domain.article.entity.Category" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="categoryName" column="category_name"/>
        <result property="enableFlag" column="enable_flag"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="renterId" column="renter_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,        category_name,        enable_flag,        delete_flag,        create_by,        update_by,        create_time,        update_time,        renter_id    </sql>

    <select id="findList" parameterType="com.hms.manage.domain.article.entity.Category" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from freedom_category_t
        <where>
            <if test="id != null and id !=''">
                AND id = #{id}
            </if>
            <if test="categoryName != null and categoryName !=''">
                AND category_name = #{categoryName}
            </if>
            <if test="enableFlag != null and enableFlag !=''">
                AND enable_flag = #{enableFlag}
            </if>
            <if test="deleteFlag != null and deleteFlag !=''">
                AND delete_flag = #{deleteFlag}
            </if>
            <if test="createBy != null and createBy !=''">
                AND create_by = #{createBy}
            </if>
            <if test="updateBy != null and updateBy !=''">
                AND update_by = #{updateBy}
            </if>
            <if test="createTime != null and createTime !=''">
                AND create_time = #{createTime}
            </if>
            <if test="updateTime != null and updateTime !=''">
                AND update_time = #{updateTime}
            </if>
            <if test="renterId != null and renterId !=''">
                AND renter_id = #{renterId}
            </if>
        </where>
    </select>

    <select id="findPage" parameterType="com.hms.manage.domain.article.entity.Category" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from freedom_category_t
        <where>
            <if test="id != null and id !=''">
                AND id = #{id}
            </if>
            <if test="categoryName != null and categoryName !=''">
                AND category_name = #{categoryName}
            </if>
            <if test="enableFlag != null and enableFlag !=''">
                AND enable_flag = #{enableFlag}
            </if>
            <if test="deleteFlag != null and deleteFlag !=''">
                AND delete_flag = #{deleteFlag}
            </if>
            <if test="createBy != null and createBy !=''">
                AND create_by = #{createBy}
            </if>
            <if test="updateBy != null and updateBy !=''">
                AND update_by = #{updateBy}
            </if>
            <if test="createTime != null and createTime !=''">
                AND create_time = #{createTime}
            </if>
            <if test="updateTime != null and updateTime !=''">
                AND update_time = #{updateTime}
            </if>
            <if test="renterId != null and renterId !=''">
                AND renter_id = #{renterId}
            </if>
        </where>
    </select>

    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from freedom_category_t
        <where>
            id = #{id}
        </where>
    </select>

    <insert id="insert" parameterType="com.hms.manage.domain.article.entity.Category">
        insert into freedom_category_t
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="categoryName != null">
                category_name,
            </if>
            <if test="enableFlag != null">
                enable_flag,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="renterId != null">
                renter_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="categoryName != null">
                #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="enableFlag != null">
                #{enableFlag,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATE},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=DATE},
            </if>
            <if test="renterId != null">
                #{renterId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.hms.manage.domain.article.entity.Category">
        update freedom_category_t
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="categoryName != null">
                category_name = #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="enableFlag != null">
                enable_flag = #{enableFlag,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=DATE},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=DATE},
            </if>
            <if test="renterId != null">
                renter_id = #{renterId,jdbcType=BIGINT},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete">
        delete from freedom_category_t
        where id in
        <foreach collection="paramList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>