<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hms.manage.infrastructure.dao.MenuMapper">

    <select id="listMenusByUserInfoId" resultType="com.hms.manage.domain.user.entity.Menu">
        SELECT DISTINCT m.id,
        name,
        path,
        component,
        icon,
        is_hidden as isHidden,
        parent_id as parentId,
        order_num as orderNum
        FROM freedom_user_role_t ur
        JOIN t_role_menu rm ON ur.role_id = rm.role_id
        JOIN `t_menu` m ON rm.menu_id = m.id
        WHERE user_id = #{userInfoId}

    </select>
</mapper>
