<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hms.manage.infrastructure.dao.UserMapper">
    <!-- 查询所有用户 -->
    <select id="selectAll" resultType="com.hms.manage.domain.user.entity.User">
        SELECT
            id, user_id, user_name, avatar_name, avatar_path, password,
            pwd_reset_time, is_admin, enable_flag, delete_flag, create_by,
            update_by, create_time, update_time, renter_id
        FROM
            freedom_user_t
    </select>

    <!-- 根据ID查询用户 -->
    <select id="selectById" resultType="com.hms.manage.domain.user.entity.User">
        SELECT
            id, user_id, user_name, avatar_name, avatar_path, password,
            pwd_reset_time, is_admin, enable_flag, delete_flag, create_by,
            update_by, create_time, update_time, renter_id
        FROM
            freedom_user_t
        WHERE
            user_id = #{param.userId}
    </select>

    <!-- 新增用户 -->
    <insert id="insert">
        INSERT INTO freedom_user_t (
            id, user_id, user_name, avatar_name, avatar_path, password,
            pwd_reset_time, is_admin, enable_flag, delete_flag, create_by,
            update_by, create_time, update_time, renter_id
        ) VALUES (
                     #{id}, #{userId}, #{userName}, #{avatarName}, #{avatarPath}, #{password},
                     #{pwdResetTime}, #{isAdmin}, #{enableFlag}, #{deleteFlag}, #{createBy},
                     #{updateBy}, #{createTime}, #{updateTime}, #{renterId}
                 )
    </insert>

    <!-- 更新用户信息 -->
    <update id="update" parameterType="com.hms.manage.domain.user.entity.User">
        UPDATE freedom_user_t
        SET
            user_id = #{userId},
            user_name = #{userName},
            avatar_name = #{avatarName},
            avatar_path = #{avatarPath},
            password = #{password},
            pwd_reset_time = #{pwdResetTime},
            is_admin = #{isAdmin},
            enable_flag = #{enableFlag},
            delete_flag = #{deleteFlag},
            create_by = #{createBy},
            update_by = #{updateBy},
            create_time = #{createTime},
            update_time = #{updateTime},
            renter_id = #{renterId}
        WHERE
            id = #{id}
    </update>

    <!-- 根据ID删除用户 -->
    <delete id="deleteById" parameterType="long">
        DELETE FROM freedom_user_t
        WHERE id = #{id}
    </delete>

    <!-- 分页查询 -->
    <select id="selectByPage" parameterType="map" resultType="com.hms.manage.domain.user.entity.User">
        SELECT
            fut.id,
            fut.user_id,
            fut.user_name,
            fut.avatar_name,
            fut.avatar_path,
            fut.password,
            fut.pwd_reset_time,
            fut.is_admin,
            fut.create_time,
            fut.update_time,
            frt.role_name
        FROM
             freedom_user_t fut
        join freedom_user_role_t furt on fut.id = furt.user_id
        join freedom_role_t frt on furt.role_id = frt.id
        WHERE
            fut.enable_flag = 'Y' AND fut.delete_flag = 'N'
        ORDER BY fut.create_time DESC
    </select>
</mapper>
